.formIngresar
{
    height:250px;
   

}

.menu{

    position: absolute;
    margin-left: 100px;
}

.buscar{

    width: 100px;
    padding-left: 500px;
}

.divisor {
    position: absolute;
    margin-top: 50px;
    text-align: center;
    padding-top: -300px;
}

